$primary: #FFFFFF; 
$secondary: #074d8f; //bleu
$thirdly: #b71727;

$main-font: 'proxima_light';
$main-font_bold: 'Raleway';
$main-font_heavy: 'gotham_blackregular';


@font-face {
    font-family: 'bebasregular';
    src: url('../fonts/BEBAS___-webfont.eot');
    src: url('../fonts/BEBAS___-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/BEBAS___-webfont.woff') format('woff'),
         url('../fonts/BEBAS___-webfont.ttf') format('truetype'),
         url('../fonts/BEBAS___-webfont.svg#bebasregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local('Raleway'), url(http://fonts.gstatic.com/s/raleway/v9/0dTEPzkLWceF7z0koJaX1A.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

img {
    max-width: 100%;
    height: auto;
}
body {
    height: 100%;
    width: 100%;
    min-height: 100%;
    font-family: 'bebasregular';
    font-size: 1em;
}
p, form, input {
    font-size: 1em;
    line-height: 1.2em;
}
html {
    min-height: 100%;
}


h1 {
    text-align: center;
    font-size: 3.8em;
    text-transform: uppercase;
    color: $primary;
    font-family: $main-font_bold;
    font-weight: 700;
}
h2 {
    text-align: center;
    font-size: 3.5em;
    color: $primary;
    font-family: $main-font_bold;
    text-transform: uppercase;
    font-weight: 900;
}
h3 {
    text-align: center;
    background-color: #074d8f;
    color: white;
    max-width: 35%;
    margin:0 auto;
    margin-top: 0%;
    margin-bottom: 0%;
    padding: 0.3em;
    font-size: 2.5em;
    font-family: $main-font_bold;
    text-transform: uppercase;
    font-weight: 900;
}
h4 {
    color: white;
    text-align: center;
    font-size: 1.8em;
    font-family: $main-font_bold;
    font-weight: 100;
    text-transform: uppercase;
}
h5 {
    font-size: 1.5em;
    color: $secondary;
    font-family: $main-font_bold;
    font-weight: 900;
    text-transform: uppercase;
}
h6 {
    font-size: 5.5em;
    color: $primary;
}

#top {
    background-image: url('../img/header.png');
    height: auto;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    overflow: hidden;
    .top-background {
        background-color: black;
        opacity: 0.5;
        filter:alpha(opacity=50); 
        position: absolute;
        top: 0;
        bottom: 0;
        width: 100%;    
    }
    .logo {
        position: absolute;
        top: 2%;
    }
    .cl-logo {
        img {
            width: 20%;
            display: block;
            margin-left: auto;
            margin-right: auto;
            padding-top: 4%;
        }
    }
    h4 {
          padding-bottom: 2%;
    }
    ul {
        text-align: center;
        margin-top: 6%;
        padding-left: 3%;
        padding-right: 3%;
        li {
            display: inline-block;
        }
    }  
}
#location {
    border-top: 10px solid #074d8f;
    background-image: url('../img/back-location.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: auto;
    position: relative;
    h4.stade {
        position: absolute;
        top: 13.5%;
        right: 20.5%;
    }
    img.map {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 4%;
        width: 70%;
        padding-bottom: 2%;
    }
    h4 {
        line-height: 0.7em;
    }
    sub {
        font-style: italic;
        text-transform: none;    
    }
    img.pad1 {
        width: 22%;
        position: absolute;
        left: 0%;
        bottom: 25%;
        opacity: 0.5;
    }
    img.pad2 {
        position: absolute;
        left: 5%;
        bottom: 9%;
        z-index: 99;
        width: 25%;
    }
    .name {
        position: absolute;
        top: 49%;
        left: 31%;
    }
    img.pad3 {
        position: absolute;
        right: 5%;
        bottom: 10%;
        z-index: 99;
        width: 23%;
    }
    img.pad4 {
        width: 18%;
        position: absolute;
        right: 0%;
        bottom: 20%;
        opacity: 0.5;
    }
    .name2 {
        position: absolute;
        bottom: 9%;
        right: 29%;
    }
}
#manager {
    border-top: 10px solid #074d8f;
    height: auto;
}    
#victory {
    border-top: 10px solid #074d8f;
    background-image: url('../img/back-victory.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: auto;
    p {
        font-size: 12em;
        text-align: center;
        margin-top: 10%;
        color: $primary;
    }
    ul {
        background-color: white;
        opacity: 0.7;
        li {
            display: inline-block;
              padding-right: 5em;
        }
    }
    ul.col-left {
        text-align: center;
    }
    ul.col-right {
        text-align: center;
    }
    .col-sm-6 {
        padding-right: 0;
        padding-left: 0;
    }
}   
#defeat {
    border-top: 10px solid #074d8f;
    background-image: url('../img/back-defeat.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: auto;
    p {
        font-size: 12em;
        text-align: center;
        margin-top: 10%;
        color: $primary;
    }
    ul {
        background-color: white;
        opacity: 0.7;
        li {
            display: inline-block;
            padding-right: 5em;
        }
    }
    ul.col-left {
        text-align: center;
    }
    ul.col-right {
        text-align: center;
    }
    .col-sm-6 {
        padding-right: 0;
        padding-left: 0;
    }
}
#scorer {
    border-top: 10px solid #074d8f;
    background-image: url('../img/back-scorer.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: auto;
    position: relative;
    h4 {
        font-size: 1.5em;
    }
    .col-sm-6 {
        height: auto;
    }
    img {
        padding-top: 9%;
        padding-bottom: 9%;
    }
    .one {
        margin-left: 40%;
        width: 62%;
    }
    h6 {
        line-height: 0.7;
    }
    h6.abso {
        position: absolute;
        bottom: 6%;
        left: 5%;
    }
    .name {
        position: absolute;
        left: 5%;
        top: 23.5%;
    }
    img.line-name {
        width: 25%;
        position: absolute;
        left: 31%;
        top: 17%;
    }
    .two {
        margin-left: 7%;
        width: 60%;
    }
    h6.abso2 {
        position: absolute;
        top: 35%;
        right: 5%;
    }
    .name2 {
        position: absolute;
        right: 5%;
        top: 19.5%;
    }
    img.line-name2 {
        width: 25%;
        position: absolute;
        right: 34.5%;
        top: 13%;
    }
}
#goal {
    border-top: 10px solid #074d8f;
    background-image: url('../img/back-goals.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: auto;
    ul {
        padding-top: 35%;
        li {
            list-style: none;
            color: $primary;
            font-size: 1.8em;
            font-family: 'Raleway';
            font-weight: 100;
            text-transform: uppercase;
        }
    }
    img {
        width: 80%;
        padding-top: 5%;
        margin-left: 10%;
    }
    img.little {
        width: 5%;
        padding-top: 0%;
        margin-right: 4%;
        padding-bottom: 1%;
    }
}
#passes {
    border-top: 10px solid #074d8f;
    background-image: url('../img/back-passes.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: auto;
    img {
        width: 80%;
        margin-top: 10%;
        margin-bottom: 10%;
    }
    .left {
        padding-top: 25%;
        padding-left: 10%;
    }
    img.pad {
        margin-left: 20%;
    }
    .right {
        padding-top: 25%;
        padding-left: 10%;
    }
}  
#booking {
    border-top: 10px solid #074d8f;
    background-image: url('../img/back-booking.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: auto;
    position: relative;
    h2 {
        font-size: 2.5em;
    }
    p {
        position: absolute;
        top: 26%;
        font-size: 5em;
    }
    p.yellow {
        left: 42%;
    }
    p.red {
        left: 48%;
    }
    img {
        padding-top: 10%;
        width: 50%;
    }
    ul {
        li {
            list-style: none;
            text-align: center;
            padding-top: 15%;
        }
    }
}
#bottom {
    background-image: url('../img/back-bottom.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    position: relative;
    padding-top: 10%;
    padding-bottom: 8%;
    a {
        text-align: right;
        position: absolute;
        right: 0%;
        top: 43%;
        background-color: $thirdly;
        padding-right: 2%;
        padding-left: 8%;
        padding-top: 1%;
        padding-bottom: 1%;
        color: $primary;
        font-size: 2em;
        text-decoration:none;
        font-family: $main-font_bold;
    }
}

#test {
    background-image: url('../img/test.png');
    background-repeat: no-repeat;
    

    width: 100%;  
}
.modal-header {}

.modal-title {}

.modal-dialog {}

.modal-body {}

#display-image {}

@media only screen and (min-width: 1081px) and (max-width: 1350px) {
    body {
        font-size: 0.8em;
    }
    #location {
        h4.stade {
            top: 12.5%;
            right: 18%;
        }
    }
    #goal {
        ul {
            padding-top: 33%;
        }
    }

}

@media only screen and (min-width: 768px) and (max-width: 1080px) {
    body {
        font-size: 0.55em;
    }
    #location {
        h4.stade {
            top: 12%;
            right: 21%;
        }
    }
    #booking {
        p.yellow {
          left: 47.5%;
        }
        p.red {
            left: 52%;
        }
        p {
            top: 20%;
        }
    }
    #scorer {
        .name {
            top: 22.5%;
        }
        .name2 {
            top: 18.5%;
        }
    }
}

@media only screen and (min-width: 200px) and (max-width: 767px) {

}